.THIS .no-margin {
    margin: 0rem !important;
}

.THIS .header-style {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-cardColorBorder,rgb(221, 219, 218));
}

.THIS .table-style {
    border-collapse: separate;
    min-width: 100%;
}

.THIS .table-head-style {
    background-color :rgb(201, 199, 197) !important;
}

.THIS .table-style thead th {
    line-height: var(--lwc-lineHeightHeading,1.25);
    color: var(--lwc-colorTextWeak,rgb(62, 62, 60));
    letter-spacing: .0625rem;
    min-height: var(--lwc-spacingXLarge,2rem);
    height: var(--lwc-spacingXLarge,2rem);
}

.THIS .table-style thead th {
    font-size: var(--lwc-fontSizeSmall,0.75rem);
}

.THIS .spinner-postion {
    /*position : absolute;*/
    left : 50%;
    top : 50%;
    z-index : 25;
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease,visibility 0s;
    transition-delay: 0s,.3s;
}