.my-custom-table .nonFixedColumnCls {
    width: 11rem;
    font-size: 12px !important;
    line-height: 15px !important;
  }
  
  .my-custom-table .fixedColumnCls {
    width: 6rem;
    font-size: 12px !important;
    line-height: 15px !important;
  }

  .my-custom-table .fixedColumnClsWeek {
    width: 4.8rem;
    font-size: 12px !important;
    line-height: 15px !important;
  }

  .my-custom-table{
    overflow: scroll;
    /*position: relative;*/
    /*min-width: 1280px;*/
    max-height: 21rem;
    padding-left: .75rem;
    padding-right: .75rem;
  }

  .my-custom-table thead th {
    background: #c6e1f7;
    /*position: -webkit-sticky;
    position: static;
    left: 0;*/
  }

  .customtableheaderColor{
    background-color:#c6e1f7 !important;
  }