.THIS div.slds-datepicker button.slds-text-link {
    display: none;
 }


.THIS table.slds-datepicker__month tr td:not(:nth-child(1)) {
    pointer-events: none;
    color: #dddbda;
 }
.THIS .hide {display: none;}
.THIS .slds-spinner_container {top:10%;bottom:10%;}
.THIS .slds-truncate.makeRelative {position: relative;}
.THIS .slds-truncate.makeRelative .slds-popover.custom.sunday {left:34%;}
.THIS .slds-truncate.makeRelative .slds-popover.custom.monday {left:38%;}
.THIS .slds-truncate.makeRelative .slds-popover.custom.tuesday {left:42%;}
.THIS .slds-truncate.makeRelative .slds-popover.custom.wednesday {left:46%;}
.THIS .slds-truncate.makeRelative .slds-popover.custom.thursday {left:50%;}
.THIS .slds-truncate.makeRelative .slds-popover.custom.friday {left:54%;}
.THIS .slds-truncate.makeRelative .slds-popover.custom.saturday {left:58%;}
.THIS .slds-truncate.makeRelative .slds-popover.custom {position: fixed;margin-top:10px;}
.THIS .slds-truncate .inputIcon {position: absolute;top: 6px;right:2px;z-index:1;}
/* Select the checkbox element */
.THIS input[type="checkbox"] {
  /* Apply the background color */
  background-color: lightblue;
}

/* Select the checkbox when it is checked */
.THIS input[type="checkbox"]:checked {
  /* Apply a different background color */
  background-color: Green;
}